.appContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

@media (min-width: 700px) {
  .appContainer {
    flex-direction: row;
    padding: 20px;
  }

  .gameField {
    flex: 75%;
  }

  .hoverSquares {
    flex: 25%;
  }
}


